<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Pablo Joel Tulian - VUE JS </title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
</head>

<body>

    <div id="app">
        <h1>{{titulo}}</h1>
        <table>
            <tr>
                <td>#</td>
                <td>Nombre</td>
                <td>Email</td>
                <td>Edad</td>
                <td>Estado</td>
                <td>Creacion Reg.</td>
            </tr>
            <tr v-for="persona of personas">
                <td>{{persona.id}}</td>
                <td>{{persona.nombre}}</td>
                <td>{{persona.email}}</td>
                <td>{{persona.edad}}</td>
                <td v-if="persona.estado" style="color:green">Activo</td>
                <td v-if="!persona.estado" style="color:red">Eliminado</td>
                <td>{{persona.createAt}}</td>
            </tr>
        </table>
        <br>
        <span v-bind:title="message">
            Hover your mouse over me for a few seconds
            to see my dynamically bound title!
        </span>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="../bootstrap/js/jquery-3.3.1.min.js"></script>
    <script src="../bootstrap/js/popper.min.js"></script>
    <script src="../bootstrap/js/bootstrap.min.js"></script>
    <script src='main.js'></script>
</body>

</html>