<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Pablo Joel Tulian - VUE JS </title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
</head>
<body>
    
    <div id="app">
        <h1 class="text-center">{{titulo}}</h1>
        <div class="container">
            <div class="row my-4">
                <article class="col-12">
                    <p class="h5 text-light p-4" :class="fondo">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis sequi quos vero molestias unde earum debitis possimus placeat dolor exercitationem illo similique, velit eum dolore nobis hic maxime sed quia necessitatibus repellat! Deserunt eum, voluptates ab in dignissimos labore? Officia?</p>
                </article>
                
                <div class="form-group p-3 col-12">
                    <select class="form-control" v-model="fondo"  name="cambiarFondo" id="cambiarFondo">
                      <option selected="selected" v-for="color of colores" >{{color}}</option>
                    </select>
                </div>
            </div>

            <div class="row my-4">
                <article class="col-12">
                    <p class="h5 text-light p-4" :class="{ 'bg-success text-dark':condicionColor, 'bg-dark text-light':!condicionColor }">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis sequi quos vero molestias unde earum debitis possimus placeat dolor exercitationem illo similique, velit eum dolore nobis hic maxime sed quia necessitatibus repellat! Deserunt eum, voluptates ab in dignissimos labore? Officia?</p>
                </article>
                
                <button type="button" v-on:click="condicionColor= !condicionColor" class="btn btn-outline-primary col-12">Cambiar Booleano  CLICK ME!!</button>
            </div>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="../bootstrap/js/jquery-3.3.1.min.js"></script>
    <script src="../bootstrap/js/popper.min.js"></script>
    <script src="../bootstrap/js/bootstrap.min.js"></script>
    <script src='main.js'></script>
</body>
</html>