<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Pablo Joel Tulian - VUE JS </title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.css">
</head>
<body>

    <div id="app">
        <div class="container">
            <div class="row my-4">
                <h1 class="col-12 text-center text-primary" style="border-bottom:solid 3px green">{{titulo}}</h1>
            </div>
            <div class="row my-4">
                <input type="text" v-model="nuevaTarea" v-on:keyup.enter="agregarTarea" class="form-control col-8">
                <button type="button" v-on:click="agregarTarea" class="btn btn-outline-primary col-4">Agregar!</button>
                
                
            </div>
            <div class="row my-4">
                <div v-for="(item,index) of tareas" class="col-12" >
                    <div class="alert d-flex justify-content-between align-items-center col-12" :class="{'alert-success': item.estado, 'alert-danger': !item.estado}"  role="alert">
                        <div>
                            <strong class="b-flex">{{index+1}} - {{item.nombre}}</strong>
                        </div>
                        <div>
                            <button type="button" v-on:click="cambiarEstado(index)" class="btn" :class="{'btn-outline-danger': item.estado , 'btn-outline-success': !item.estado}">{{!item.estado ? 'OK!!' : 'Cancelar'}}</button>
                            <button type="button" class="btn btn-outline-danger" v-on:click="eliminarItem(index)">X</button>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>

       
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="../bootstrap/js/jquery-3.3.1.slim.js"></script>
    <script src="../bootstrap/js/popper.js"></script>
    <script src="../bootstrap/js/bootstrap.js"></script>
    <script src='main.js'></script>
</body>
</html>




