<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Pablo Joel Tulian - VUE JS </title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
</head>
<body>

    <div class="" id="app">
        <div class="container">

            <div class="row my-4">  
                <h1 class="text-center col-12 text-primary" style="border-bottom:solid 3px green">{{titulo}}</h1>
            </div>
            
            <div class="progress" style="height: 40px;">
                <div class="progress-bar progress-bar-striped progress-bar-animated" :class="color"  role="progressbar"  :style="{'width': contador+'%'}" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                    <h2 class="text-center">{{contador}}</h2>
                </div>
            </div>

            <button type="button" v-on:click="contador++" class="btn btn-primary">+</button>
            <button type="button" v-on:click="contador--" class="btn btn-danger text-light">-</button>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="../bootstrap/js/jquery-3.3.1.min.js"></script>
    <script src="../bootstrap/js/popper.min.js"></script>
    <script src="../bootstrap/js/bootstrap.min.js"></script>
    <script src='main.js'></script>
</body>
</html>