<template>
    <div>
        <h1>Galeria de Fotos</h1>
        <router-link v-for="(item,index) of this.arregloFotos" 
        v-bind:key="index" :to="{name:'fotos',params: {id:item}}">
            <button type="button" class="btn btn-primary">Foto {{item}}</button>
        </router-link>
        <Foto></Foto>
        <button @click="home">Ir a Home</button>
        <button @click="anterior">Anterior</button>
        <button @click="siguiente">Siguiente</button>
    </div>
</template>

<script>

import Foto from '@/components/Foto.vue';

export default {
    name:'Fotos',
    components:{
        Foto
    },
    data(){
        return{
            arregloFotos:[1,2,3]
        }
    },
    methods:{
        home(){
            this.$router.push('/');
        },
        anterior(){
            this.$router.go(-1);
        },
        siguiente(){
            this.$router.go(1);
        }
    }
}
</script>