<template>
  <div class="container">
    <Cabesera :frutas="frutas"></Cabesera>
    <Lista :mensaje="this.mensaje" :frutas="this.frutas"  ></Lista>
  </div>
</template>

<script>
// @ is an alias to /src
import Cabesera from '@/components/Cabesera.vue';
import Lista from '@/components/Lista.vue';

export default {
  name: 'home',
  components: {
    Cabesera,
    Lista
  },
  data(){
    return{
      mensaje:"Pablo Tulian",
      frutas:[
        {nombre:'banana',cantidad:2},
        {nombre:'naranja',cantidad:4},
        {nombre:'uvas',cantidad:52}
      ]
    }
  }
}
</script>
