<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Pablo Joel Tulian - VUE JS </title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
</head>
<body>


    <div id="app">

        <div class="container">
            <div class="row">
                
                <button type="button" v-on:click="pagPrev" class="btn btn-outline-primary my-4 col-6">Anterior</button>
                <button type="button" v-on:click="pagNext" class="btn btn-outline-primary my-4 col-6">Siguiente</button>
                
                <div class="card col-3" v-for="item of pokemones" >
                    <img class="card-img-top" :src="item.pokemon.sprites.front_default" alt="">
                    <div class="card-body">
                        <h2 class="card-title">{{item.pokemon.name}}</h2>
                        <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil, quod.</p>
                    </div>
                </div>
                
            </div>
        </div>
        
    </div>

    
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="../bootstrap/js/jquery-3.3.1.min.js"></script>
    <script src="../bootstrap/js/popper.min.js"></script>
    <script src="../bootstrap/js/bootstrap.min.js"></script>
    <script src='main.js'></script>
</body>
</html>