<template>
    <div class="text-center">
        <h1>Hola Mundo!!</h1>
        <img alt="Vue logo" src="../assets/logo.png">
        <table class="table">
            <thead>
                <tr>
                    <th>fruta</th>
                    <th>cantidad</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(item,index) of this.frutas" v-bind:key="index">
                    <td>{{item.nombre}}</td>
                    <td>{{item.cantidad}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    export default{
        name:'Cabesera',
        props:{
            frutas:Array
        }
    }
</script>