<template>
    <div class="text-center">
        <h2>Lista</h2>
        <h2>{{this.mensaje}}</h2>
        <ul class="list-group">
            <li v-for="(item,index) of this.frutaAumentada" v-bind:key="index" v-on:click="aumentar(index)"
             class="list-group-item d-flex justify-content-between align-items-center active">
                {{index+1}}: {{item.nombre}}
                <span class="badge badge-secondary badge-pill">{{item.cantidad}}</span>
            </li>
        </ul>
        <button type="button" v-on:click="reiciar" class="btn btn-danger btn-block">Reiniciar</button>
    </div>
</template>

<script>
    export default {
        name:'lista',
        props:{
            mensaje:String,
            frutas:Array
        },
        data(){
            return{
                frutaAumentada:this.frutas
            }
        },
        methods:{
            aumentar(index){                
                this.frutaAumentada[index].cantidad++;
                this.frutaAumentada.sort( (a,b) => b.cantidad - a.cantidad);
            },
            reiciar(){
                this.frutaAumentada.forEach(elemnto =>{
                    elemnto.cantidad = 0;
                });
            }
        }  
    }
</script>