<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Pablo Joel Tulian - VUE JS </title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
</head>
<body>
    
    <div id="app">
        <h1>{{titulo}}</h1>
        <br>
        <input type="text" v-model="tareasNueva.tarea" >
        <input type="text" v-model="tareasNueva.duracion" @keyup.enter="agregartarea">
        <input type="button" v-on:click="agregartarea" placeholder="Ingrese Tarea" value="Agregar v-on:Click">
        <input type="button" @click="agregartarea" placeholder="Duracion Tarea en Minutos" value="Agregar @Click">
        <table>
            <tr>
                <td>Tarea</td>
                <td>Duracion</td>
            </tr>
            <tr v-for="tarea of tareas">
                <td>{{tarea.tarea}}</td>
                <td>{{tarea.duracion}}/min</td>
            </tr>
        </table>
        <h2>Total en minutos {{calcularTotalMinutos}} /min</h2>
        <h2>Total en horas {{ (calcularTotalMinutos/60).toFixed(1) }} /hs</h2>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="../bootstrap/js/jquery-3.3.1.min.js"></script>
    <script src="../bootstrap/js/popper.min.js"></script>
    <script src="../bootstrap/js/bootstrap.min.js"></script>
    <script src='main.js'></script>
</body>
</html>