<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Pablo Joel Tulian - VUE JS </title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <link rel="stylesheet" href="../../bootstrap/css/bootstrap.min.css">
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
</head>

<body>

    <div id="app">
        <div class="container">
            <div class="row my-4">
                <div class="col-12 text-center">
                    <p class="h1 text-primary" style="text-decoration: underline greenyellow 5px; ">{{titulo}}</p>
                </div>
            </div>
            <div class="row my-4 pt-4">

                <!-- Button trigger modal -->
                <button type="button" v-on:click="mostrarCrear()" data-toggle="modal" data-target="#ModalPersona" class="btn btn-outline-primary w-100 large my-2">
                    <strong class="h3">Crear Persona</strong>
                </button>

                <!-- Modal -->
                <div class="modal fade" id="ModalPersona" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalCenterTitle">{{modalTitle}}</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="">Datos Personales</label>
                                    <input type="text" v-model="persona.nombre" class="form-control" name="nombre" id="nombre" aria-describedby="helpId" placeholder="Nombre">
                                    <input type="text" v-model="persona.apellido" class="form-control" name="apellido" id="apellido" aria-describedby="helpId" placeholder="Apellido">                      
                                    <input type="mail" v-model="persona.mail" class="form-control" name="mail" id="mail" aria-describedby="helpId" placeholder="Email">                      
                                    <input type="number" v-model="persona.edad" class="form-control" name="edad" id="edad" aria-describedby="helpId" placeholder="Edad">                                                             
                                </div>
                                <div class="form-group">
                                    <label for="selectDocument">Documento</label>
                                    <select class="form-control" v-model="persona.documento" name="selectDocument" id="selectDocument">
                                        <option value="1">DU</option>
                                        <option value="2">DNI</option>
                                        <option value="3">LE</option>
                                        <option value="4">LC</option>
                                    </select>
                                </div>  
                                <div class="form-group">
                                    <label for="">Direccion</label>
                                    <input type="text" v-model="persona.direccion.calle" class="form-control" name="calle" id="calle" aria-describedby="helpId" placeholder="Calle">
                                    <input type="number" v-model="persona.direccion.numeracion" class="form-control" name="numeracion" id="numeracion" aria-describedby="helpId" placeholder="Numeracion">                      
                                    <input type="text" v-model="persona.direccion.barrio" class="form-control" name="barrio" id="barrio" aria-describedby="helpId" placeholder="Barrio">                      
                                    <input type="text" v-model="persona.direccion.pais" class="form-control" name="pais" id="pais" aria-describedby="helpId" placeholder="Pais">                                                             
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                <button type="button" v-on:click="createOrUpdate()" class="btn btn-primary">Guardar Cambios</button>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- Table -->
                <table class="table table-responsive-md table-hover col-12">
                    <thead class="thead-dark">
                        <tr>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Mail</th>
                            <th>Edad</th>
                            <th>Direccion</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(user,index) of users">
                            <td>{{index+1}}</td>
                            <td>{{user.nombre}}</td>
                            <td>{{user.apellido}}</td>
                            <td>{{user.mail}}</td>
                            <td>{{user.edad}}</td>
                            <td>{{user.direccion[0].calle + ' ' + user.direccion[0].numeracion}}</td>
                            <td>
                                <button type="button" v-on:click="mostrarActulizar(user)"
                                    class="btn btn-outline-info"  data-toggle="modal" data-target="#ModalPersona" >Editar</button>
                                <button type="button" v-on:click="eliminar(user._id)"
                                    class="btn btn-outline-danger">Eliminar</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>



    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="../../bootstrap/js/jquery-3.3.1.min.js"></script>
    <script src="../../bootstrap/js/popper.min.js"></script>
    <script src="../../bootstrap/js/bootstrap.min.js"></script>
    <script src='main.js'></script>
</body>

</html>